* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
}

.product-container {
  display: flex;
  /* border: 2px solid red; */
  width: 80%;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-evenly;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgb(181, 180, 180);
  border-radius: 8px;
  width: 30%;
  margin-top: 10px;
  gap: 10px;
}

.prod-img {
  height: 200px;
  object-fit: cover;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  /* border: 2px solid black; */
  justify-content: flex-end;
  gap: 10px;
}

.cta-1 {
  color: white;
  background-color: green;
  border: none;
  height: 25px;
  width: 25px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.cta-2 {
  color: white;
  background-color: red;
  border: none;
  height: 25px;
  width: 25px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/*cart starts here */

.cart-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  /* border: 2px solid green; */
  width: 20%;
  background-color: #ececec;
}

.cart-items {
  display: flex;
  /* border: 1px solid rgb(182, 182, 182); */
  background-color: white;
  padding: 8px 5px;
  margin-top: 10px;
  justify-content: space-between;
}

.btn-1 {
  display: flex;
  background-color: green;
  color: white;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  cursor: pointer;
}
.btn-2 {
  display: flex;
  background-color: red;
  color: white;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 16px;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}
